@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    height: 100dvh;
}


@font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-Regular.ttf") format("ttf"),
      url("/fonts/raleway/Raleway-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
.text-stroke {
  -webkit-text-stroke: 1px #475569; /* Define el grosor del borde */
  color: #475569; /* El color del texto */
}
.text-stroke-footer {
  -webkit-text-stroke: 0.1px white; /* Define el grosor del borde */
  color: white; /* El color del texto */
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
}

body {
  @apply font-sans;
}

* {
  color: black;
}
